body {
    overflow-x: auto;
    overflow-y: scroll;
    min-width: 1000px;
}

body, input, label, select, option, textarea, button, fieldset, legend {
    font-family:  "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

*::selection {
    background-color: #d6b08a;
    color: #fff;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 103px auto 60px auto;
}

.container {
    width: 980px;
    margin: 0 auto;
}

.clear-fix {
    clear: both;
}

.left-floated {
    float: left;
}

.right-floated {
    float: right;
}

.main {
    width: 690px;
}

.sider {
    width: 264px;
}

.main, .sider {
    display: inline-block;
    min-height: 500px;
}

.box {
    border-radius: 2px;
    box-shadow: 0 0 6px rgba(187,179,168,0.46);
    background-color: #fefdfc;
}

.separator {
    margin: 0 auto 0px auto;
    border-top: 1px solid rgba(151, 151, 151, 0.3);
}

.separator-double {
    margin: 15px auto 0px auto;
    border-top: 1px solid rgba(121, 108, 92, 0.5);
}

.sm-icon {
    width: 12px;
    height: 12px;
    margin-right: 2px;
}

.tag {
    display: inline-block;
    height: 13px;
    margin: 4px 3px;
    padding: 6px;
    border-radius: 3px;
    background-color: #d5af88;
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    opacity: 0.8;
    transition: 0.1s;
    -webkit-transition: 0.1s;
}

.tag:hover {
    opacity: 1;
}

.dot-show {
    color: #8d948c;
    cursor: default;
}

.img-circle {
    border-radius: 50%;
    border: none;
}

.mid-panel {
    background-color: #fefdfc;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.mid-panel > .panel-content {
    padding: 24px 28px;
}

.mid-panel .title {
    margin-top: 0;
    margin-bottom: 21px;
    font-size: 23px;
    font-weight: normal;
    color: #9e8f7c;
}

/* 到底了的提示 */
p.bottom-tip {
    font-size: 14px;
    color: #8d948c;
    opacity: 0.6;
    text-align: center;
}
