.btn {
    height: 32px;
    padding: 0 6px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 32px;
    color: #fefdfc;
    background-color: rgba(220,111,83,0.8);
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.btn:hover {
    background-color: rgba(220,111,83,1);
}

.btn-sm {
    height: 28px;
    line-height: 28px;
    font-size: 12px;
}

.m-article-item .btn-collect, 
.m-resource-item .btn-collect, 
.m-article-collection-item .btn-collect, 
.m-resource-detail-panel .btn-collect, 
.m-resource-collection-item .btn-collect  {
  bottom: 40px;
  height: 24px;
  line-height: 24px;
  margin-top: 12px;
  position: absolute;
  right: 24px;
  text-align: center;
  width: 100px;
}
.m-article-collection-item {
  .btn-edit {
    bottom: 40px;
    height: 24px;
    line-height: 24px;
    margin-right:40px;
    margin-top: 12px;
    position: absolute;
    right: 124px;
    text-align: center;
    width: 40px;
  }
}