<div class="sider-panel" id="js-news-panel">
    <div class="news-panel-title">
        <span class="left-floated sider-name">最新关注动态</span>
        <!--<a href=""><span class="right-floated more">更多 <i class="fa fa-angle-right"></i></span></a>-->
        <div class="clear-fix"></div>
    </div>
    <div class="news-panel box js-news-panel"></div>
</div>