<!DOCTYPE html>
html lang="en"
  head
    include("./partials/styles.marko")
    title - Marko Templating Engine
  body
    h1 - Hello ${data.name}!
    ul if(data.colors && data.colors.length > 0)
      li for(color in data.colors)
        ${color}
    div else
      - No colors!
    include("./partials/scripts.marko")